a {
  color: #2b72e2;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

strong {
  font-weight: bold;
}

ul.sections > li.title-2 > div.content {
  margin-top: 3.2em;
}

ul.sections > li.title-3 > div.content {
  margin-top: 2.8em;
}

ul.sections > li > div.annotation > ul:nth-child(2) {
  margin-top: 0.2em;
  margin-bottom: 0;
}

ul.sections > li > div.annotation > ul:nth-child(2) li {
  margin-top: 0;
  margin-bottom: 0;
}

#section-1, #section-1 .annotation, #section-1 .content, #section-1 .content .highlight, #section-1 .content .highlight pre {
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 0;
  padding-bottom: 0;
}

ul.sections > li.title {
  margin-top: 1em;
}

#title h1 {
  font-size: 3em;
  text-transform: none;
}

.annotation h2 {
  font-size: 2em;
}

.annotation h3 {
  padding-bottom: 0.3em;
  text-transform: none;
  border-bottom: 1px solid #dddddd;
}

.annotation h3 code {
  background: none;
  border: none;
  padding: none;
}

.annotation h3 code {
  font-size: 1em;
  font-weight: bold;
}

.annotation h2, .annotation h3, .annotation h4, .annotation h5, .annotation h6 {
  margin-top: 0;
}
